.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
